### Flask ###
instance/*
!instance/.gitignore
.webassets-cache

# Environments
.venv
.env

### Python Patch ###
# Poetry local configuration file - https://python-poetry.org/docs/configuration/#local-configuration
poetry.toml