### Flask ###
instance/*
!instance/.gitignore
.webassets-cache
app/__pycache__
mockdata/__pycache__


# Environments
.venv
.env
.idea

### Python Patch ###
# Poetry local configuration file - https://python-poetry.org/docs/configuration/#local-configuration
poetry.toml

