<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-3">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="main">
        <h1>Weather App clique para iniciar</h1>
        <button class="button" onclick="start">Iniciar</button>
    </div>
    <footer class="footer">
        <h3 class="creators">created by Alan Lucio
            <a class="links" href="https://www.linkedin.com/in/alan-lucio-aln/" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Alnlc" target="_blank">
                <i class="fab fa-github"></i>
              </a>
                <i></i>
            </a>
            e Douglas J.           
            <a class="links" href="https://www.linkedin.com/in/douglas-j-leal/" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/dougpng" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </h3>  
    </footer>
</body>
</html>