<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <div id="clouds">
        <div class="cloud c1"></div>
        <div class="cloud c2"></div>
        <div class="cloud c3"></div>
        <div class="cloud c4"></div>
        <div class="cloud c5"></div>
    </div>

    <div class="main-container">
        <div class="container-weather"></div>
    </div>
    <div class="display-weather">
        <div class="display"></div>
    </div>
    <footer class="footer">
        <h3 class="creators">created by Alan Lucio
            <a class="links" href="https://www.linkedin.com/in/alan-lucio-aln/" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Alnlc" target="_blank">
                <i class="fab fa-github"></i>
              </a>
                <i></i>
            </a>
            e Douglas J.           
            <a class="links" href="https://www.linkedin.com/in/douglas-j-leal/" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/dougpng" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </h3>  
    </footer>
    <script src="{{url for('static', filename='js/app.js')}}"></script>
</body>

</html>